<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="FMSDB" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-LMDK7N8\SQLEXPRESS;Initial Catalog=FacultyManagement;Integrated Security=True"/>
		<!--<add name="BBDB" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BabyBloomsDB;User Id=sa;Password=admin@123;Connection Timeout=600" />-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
	</system.web>
</configuration>
